# Exercice: Modélisation orientée requête (Cassandra)

<table><tr>
    <td><img src="image/esi-sba.png" width="100" height="100"></td>
    <td><img src="image/cassandra.png" width="100" height="100"></td>
    </tr></table>

### Dans ce notebook, nous allons travailler sur la modélisation orientée requête sous la BDD No-SQL Cassandra, en particulier nous traitons les points suivants :

* Dénormaliser une BDD relationnelle en partant du principe 1 table per query 
* Définir la partie Primary Key pour chaque requête
* Optimiser vos modèles en choisissant la bonne Partition Key & Clustering Column
* Valider vos modèles 
* Tester quelques requêtes particulières

#### installer cassandra-driver afin de se connecter au cluster cassandra
! pip install cassandra-driver
#### More documentation can be found here:  https://datastax.github.io/python-driver/

#### Import Apache Cassandra python package

In [ ]:
import cassandra

### créer une connection au cluster cassandra

In [ ]:
from cassandra.cluster import Cluster

try: 
    cluster = Cluster(['127.0.0.1']) # si cassandra est installé localement avec le port par défaut 9042
    session = cluster.connect()
except Exception as e:
    print(e)

### créer maintenant un keyspace nommé "iot_esi"

In [ ]:
try:
    
  ### add code here 
  session.execute() 

except Exception as e:
    print(e)

### connecter à votre Keyspace  iot_esi

In [ ]:
try:
    
    ### add code here 
   
    
except Exception as e:
    print(e)

### Supposons qu'on a un système IoT qui stocke les données capturées par les différents Sensors en utilisant un modèle RELATIONNEL, tel que est décrit dans le schéma ER ci-dessous:

<table><tr>
    <td><img src="image/ex1_IoT_ER_model.png" width="500" height="500"></td>
      </tr></table>

### imaginons  que nous souhaitons analyser ces données à  travers 4 requêtes analytiques:
* `Query1= retourner les informations(name, nbSensors) de tous les networks d'une région donnée`
* `Query2= retourner les informations (nameNt, NameS, type,localisation, characteristics) de tous les Sensors d'un Network donné.`
*  `Query3= retourner les measurements par sensor,  par année et par mois.  Ordonner le résultat par  année(desc) et par  
    mois(asc)`
* `Query4= retourner le AVG_measurements par network, par type,  et par année.  Ordonner le résultat par  type(desc) et  
   par année(desc)`

#### Créer les trois tables qui correspondent aux requêtes précédentes, en indiquant pour chacune:
* Primary Key
* Partition Key
* Clustering Column

In [ ]:
try:
    
    ### Create the table that corresponds to the Query1
    query1 = ""
    session.execute(query1)


    ### Create the table that corresponds to the Query2
    query2=""
    session.execute(query2)
    
    
    ### Create the table that corresponds to the Query3
    query3=""
    session.execute(query3) 
    
    ### Create the table that corresponds to the Query4
    query4=""
    session.execute(query4) 
    
except Exception as e:
        print(e)

### Une fois vous créez les différentes tables, essayez de les peupler en se basant sur le contenu de la BDD relationnelle.

<table><tr>
    <td><img src="image/data_tables.png" width="600" height="500"></td></tr>
  
</table>

### Insertion des données dans Table1

In [ ]:
query = " "


try:
    session.execute(query, ())
   
except Exception as e:
        print(e)

### Insertion des données dans Table2

In [ ]:
query = " "


try:
    session.execute(query, ())
   
except Exception as e:
        print(e)

### Insertion des données dans Table3

In [ ]:
query = " "


try:
    session.execute(query, ())
   
except Exception as e:
        print(e)

### Insertion des données dans Table4

In [ ]:
query = " "


try:
    session.execute(query, ())
   
except Exception as e:
        print(e)

### Valider votre modèle en exécutant les requêtes suivantes

* Retourner le nombre de sensors dans la région ouest"

* Retourner les sensors qui sont placés dans le network "esi-net"

* retourner les températures recordées  par le sensor "temp-11" pendant le mois octobre de l'année 2021

* Retourner pour chaque année, la valuer moyenne enregistrée par les sensors de type "temp" dans le network "esi-net"

In [ ]:
# query1: Retourner le nombre de sensors dans la région ouest
query = "'"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

In [ ]:
# query2: Retourner les sensors qui sont placés dans le network "esi-net"
query = "'"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

In [ ]:
# query3:  retourner les températures recordées  par le sensor "temp-11" pendant le mois octobre de l'année 2021
query = "'"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

In [ ]:
# query4: Retourner pour chaque année, la valuer moyenne enregistrée par les sensors de type "temp" dans le network "esi-net"
query = "'"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

### Essayons d'autres requêtes 

* `Retourner les température enregistrée par le sensor "temp-11"  pendant le  mois d'octobre de toutes les années`

In [ ]:
# query5
query = "'"

try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

### Proposer une solution pour optimiser cette requête

In [ ]:
### make your solution 
## table creation
### Create the table that corresponds to the Query5
query5=""
session.execute(query5) 

## insert data
query = ""

try:
    session.execute(query, ())
  
except Exception as e :
        print(e)

In [ ]:
# query5
query = ""



try:
    rows = session.execute(query)
    for row in rows:
          print (row)
except Exception as e:
        print(e)

###  drop  tables.

In [ ]:
query = "drop table IF EXISTS ..."
rows = session.execute(query)

query = "drop table IF EXISTS ... "
rows = session.execute(query)

query = "drop table IF EXISTS ....  "
rows = session.execute(query)



query = "drop table IF EXISTS ... "
rows = session.execute(query)

### close the session and cluster connection

In [ ]:
session.shutdown()
cluster.shutdown()